
body {
    background-color:#181818;
    
}

.container {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: bisque;
    font-size: 28px;
}

img { 
    border-radius: 15px;
    width: 500px;
    height: 400px;
}

.mem-slider {
    width: 500px;
    height: 400px;
}

.slider-line {
    display: flex;
    position: relative;
    left: 0;
}

.slider-buttons {
    justify-content: flex-end;
    width: 500px;
    display: flex;
    gap: 20px;
    
}

.mem-button {
width: 20px;
height: 20px;
cursor: pointer;
border-radius: 50%;
background-color: bisque;
}

@media (min-width: 320px) and (max-width: 768px) {
    img {
            border-radius: 15px;
            width: 250px;
            height: 200px;
        }

    p {
            
            font-size: 14px;
        }

    .mem-button {
                    width: 15px;
                    height: 15px;
                }
    .container {
            gap: 50px;
        }
    .mem-slider {
            width: 250px;
                height: 200px;
        }
    .slider-buttons {
            justify-content: center;
            width: 250px;
            display: flex;
            gap: 20px;
    
        }
}